
.circle{
    display: inline-block;
    
    /* border-radius: 50%; */
    /* height: 30px;
    width: 30px; */
}


.collapse{
    margin-right: 10vw;
    font-size: 1.3em;
    color: #151515 !important;
}
.nav-link > p{
    font-family: Roboto;
    color: #ffffff !important;
}
.nav-link > p:hover{
    /* color: #151515 !important; */
    font-weight: bold;
    /* font-size: 1.2em; */
    text-decoration-line: underline;
    text-shadow: 1px 1px 3px gray;
}
.brand-p{
    color: #ffffff;
    font-size: 1.4em;
}
.brand-p:hover{
    /* color: #151515; */
    /* font-size: 1.4em; */
    text-shadow: 2px 2px 3px gray;
    text-decoration-line: underline;
}
.nav-link>p{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    /* background-color: aqua; */
}

.navbar-toggler-icon{
    color: #fff;
}