/* Social Media Top Icons */

.top-footer{
    display: table;
    text-align: right;
    color: rgb(0, 0, 0);
    background-color: #eea300;
    height: 100%;
    width: 100%;
}
.navbar-brand{
    font-family: 'Righteous', cursive;
    font-size: 1.5em;
    font-weight: bold;
    margin-left:10vw;    
    color: #151515;
}

.media{
    display: table-cell;
    vertical-align: middle;
    height: 10px;
}
.inner {
    margin-right: 11vw;
    /* color: #fff;  */
}
.in-icon{
    margin-right: 20px;
}
i:hover{
    color: #fff;
    cursor:pointer;
}

/*  First big section and NavBar */
.landing-main{
    position: relative;
    height: 95vh;
    padding: 0px !important;
}
.bg-landing{
    height: 95vh;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.719)), url('https://previews.123rf.com/images/muchmaniavector/muchmaniavector1709/muchmaniavector170900007/85276590-city-building-with-cars-on-the-road-and-skytrain-side-view-transportation-cityscape-skyline.jpg');
    background-position: right 0px bottom 10px;
}
.front-landing{
    position: absolute;
    top: 0;
    width: 100%;
}
.navbar-col{
    background-color: rgba(255, 255, 255, 0.247);
}
.info-col{
    text-align: center;
}

.dropdown{
    margin-bottom:30vh;
}

/* Main heading and subheading */
.welcome-section{
    margin-top: 20px;
}
.heading{
    color: #fff;
}
.main-heading{
    font-size: 3em;
    font-family: 'Alfa Slab One', cursive;
}
.sub-heading{
    font-size: 1.1em;
}




/* Sections */

.operations-sections{
    margin-top: 20px;
    height: 150px;
    display: flex;
}
.section{
    
    /* display: block; */
  /* height: 100px; */
    background-color: #eea300;
    border-radius: 10px;
    margin-top: 10px;
    /* margin-bottom: 30px; */
}
.sec1{
    height: 100px;
    
}
.sec2{
    height: 100px;
    
}
.sec3{
    height: 100px;
}