.centerContent{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 0px;
  }
.btnSizing{
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0 !important;
    >span{
        color:white;
        >i:hover{
            color:orange
        }
    }
}
.emptyStyle{
    background: none;
    border: none;
    >i{
        &:hover{
            color:rgb(90, 90, 90);
        }
    }
}

$cartSize:1.5rem;
.cartStyle {
    font-size: 1.5rem;
    color: #fff;
}
.cartStyle2 {
    font-size: 1.5rem;
    color: #000  !important;
}