p, h1,h2,h3,h5,h6{
    font-family: 'Playfair Display', serif;
}
$acceptedBg: linear-gradient(to right top, #ffffff, #f8f4fe, #f4e9fc, #f2ddf8, #f2d1f2);
$requestedBg: linear-gradient(to right top, #ffffff, #e9e6fe, #cfcffd, #b2b8fc, #90a3fb);
$completedBg: linear-gradient(to right top, #ffffff, #ffeffd, #ffdde6, #ffcfbd, #fbcc90);;
    
.sectionButton{
    background-color:rgb(0, 121, 191)
}

// Order Item
.imgContainer{
    display: block;
    width: 120px;
    height: 120px;
    content: "";
    // background-image: linear-gradient(to right top, #ffffff, #f3e8ff, #efceff, #f2b1ff, #fb90fb);
    background-image: $requestedBg;
}

.itemWrapper{

    width: 100%;
    display: grid;
    // grid-template-columns: 12vw repeat(auto-fill, minmax(320px, 2fr)) 4vw;
    grid-template-columns:repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: 1fr;
    // background-image: linear-gradient(to right top, #ffffff, #f8f4fe, #f4e9fc, #f2ddf8, #f2d1f2);
    background-image: $requestedBg;
    border-radius: 0px 12px 12px 0px;
    
    .dataFieldLayout{
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "field1 field3"
                             "field2 .";
                
        >.field1{
            grid-area: field1;
        }
        >.field2{
            grid-area: field2;
            position: absolute;
            bottom: 5px;
            max-width: 15ch;
            overflow: hidden;
            text-overflow: ellipsis;

        }
        >.field3{
            grid-area: field3;
        }
    }
    .clipText{
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
    }

    .sideOptionsWrapper{
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        // background-image: linear-gradient(to top, #e03ea0, #e443ad, #e848ba, #eb4ec7, #ed55d5, #f455cb, #fa57c1, #ff5ab8, #ff6399, #ff747f, #ff896b, #fb9d61);
        
        
        
        div{
            display:flex;
            height: 100%;
            background-color: #FBAB7E;
            background-image: linear-gradient(45deg, #FBAB7E 0%, #F7CE68 100%);
            justify-content: center;
            align-items: center;
            color: #fff;
            border-radius: 0px 10px 10px 0px;
            >p{
                font-size: 1.5rem;
                // color: rgb(255, 255, 255);
                // width: 50%;
                transform: rotate(90deg);
                color: #fff

            }
        }
        
    }
}
.itemRequested{
    @extend .itemWrapper;
    background: $requestedBg;
    .imgContainer{
        background: $requestedBg;
    }
}



// Custom Button
.customBtn{
    border-radius: 10px;
    >p{
        margin: 0px;
    }
}
.btnActive{
    background-color: #0d6efd !important;
    border: #0d6efd !important;
}
.btnIdle{
    background-color: #a6c9ff !important;
    border: #a6c9ff !important;
}