p, h1,h2,h3,h5,h6{
    font-family: 'Source Sans Pro', 'Playfair Display', serif;
}
/* Top Footer */
.top_footer{
    display: table;
    text-align: right;
    color: rgb(0, 0, 0);
    background-color: #eea300;
    height: 100%;
    width: 100%;
}
.navbar-brand{
    font-family: 'Righteous', cursive;
    font-size: 1.5em;
    font-weight: bold;
    margin-left:10vw;    
    color: #151515;
}

.media{
    display: table-cell;
    vertical-align: middle;
    height: 10px;
}
.inner {
    margin-right: 11vw;
    /* color: #fff;  */
}
.in_icon{
    margin-right: 20px;
}
i:hover{
    color: #fff;
    cursor:pointer;
}
/* DSGFDGSDF */

/*  First big section and NavBar */
.landing_main{
    position: relative;
    height: 40px;
    padding: 0px !important;
    z-index: 1;
}
.bg_landing{
    position: relative;
    bottom: 84px;
    /* z-index: -1; */
    height: 75vh;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.719)), url('https://previews.123rf.com/images/muchmaniavector/muchmaniavector1709/muchmaniavector170900007/85276590-city-building-with-cars-on-the-road-and-skytrain-side-view-transportation-cityscape-skyline.jpg');
    background-position: right 0px bottom 10px;
}
.front_landing{
    position: absolute;
    top: 0;
    width: 100%;
}


/* Top navbar styles */
.collapse{
    margin-right: 10vw;
    font-size: 1.3em;
    color: #151515 !important;
}
.navItem{
    margin-right: 20px;
}
.navLink{
    text-decoration: none;
    color: #ffffff;
}
.navLink > p{
    font-family: Roboto;
    color: #ffffff ;    
}
.navbar_col{
    background-color: rgba(146, 146, 146, 0.575);
    padding-right: 0px;
}
.navbar_col_shop{
    background-color: rgba(255, 255, 255, 0.575);
    padding-right: 0px;
}
.navLinkShop > p{
    font-family: Roboto;
    color: #0e0d0d ;    
}
.navLink:hover{
    /* color: #151515 !important; */
    font-weight: bold;
    /* font-size: 1.2em; */
    text-decoration: underline;
    text-shadow: 1px 1px 3px gray;
}
.brand_p{
    font-size: 1.4em;
    margin-left: 1.5rem;
}
.brand_p:hover{
    /* color: #151515; */
    /* font-size: 1.4em; */
    text-shadow: 2px 2px 3px gray;
    text-decoration-line: underline;
}
.nav-link>p{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    /* background-color: aqua; */
}

.navbar-toggler-icon{
    color: #fff;
}


/* Top section internal content */
.info_col{
    text-align: center;
}
.dropdown{
    margin-bottom:30vh;
}
.welcome_section{
    text-align: center;
    margin-top: 20px;
    padding-top: 15vh;
    
}
.heading{
    color: #fff;
}
.main_heading{
    font-size: 3em;
    font-family: 'Alfa Slab One', cursive;
}


/* Vehicle Section  */
/* Sections */
.services{
    padding-top: .5rem;
    margin-right: 1rem;
    /* padding-left: 0rem; */
}

.services > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1rem;
    /* height: calc(25vh); */
    padding-left: 0rem;
    /* padding-right: .5rem; */
}

.services > ul > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
    /* padding-bottom: 15px; */
}

.services > ul > li > div > figure{
    min-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
}

.services > ul > li > div > figure > img {
    width: 100%;
    height: 230px;
    /* height: 230px; */
}

.services > ul > li > div > figure > figcaption {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0,0,0,.7);
    width: 100%;
}

.services > ul > li > div > figure > figcaption > h3 {
    color: white;
    padding: 0.75rem;
    font-size: 1.25rem;
}

.services > ul > li > div > figure > p {
    text-align: justify;
    padding: .5rem 1rem;
}

.services > ul > li > div > a {
    display: inline-block;
    /* position: relative; */
    background-color: goldenrod;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    padding: .5rem 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    transition: all .3s;
}

.services > ul > li > a:hover {
    opacity: 0.6;
}

.shop_services_wrapper{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
}
.service_card{
    width: 18rem;
    margin-right: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

$fontColorCardTitle : #333333;
$fontColorCardBody : #444444;
$fontFamilyStandard :'Source Sans Pro', 'Playfair Display', serif;
.cardBody{

    >h5{
        font-family: $fontFamilyStandard;
        font-size: 1.2rem;
        color: $fontColorCardTitle;
    }
    >h6{
        color: $fontColorCardBody;
    }
    >p.description{
        color: $fontColorCardBody !important;
        height: 5vh !important;
        max-width: 75ch;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p.price{
        font-size: 1.3rem;
    }
}