{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        
        <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&family=Alfa+Slab+One&display=swap" rel="stylesheet">
     
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


        <title>Home Page</title>
    </head>

    <body class="text-center">

        <div class="container-fluid main-container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex flex-column align-items-center justify-content-center ">
                        <div class="bd-highlight">
                            <form class="form-signin" action="/" method="POST" novalidate>
                                <img class="mb-4 img-logo" src="{% static 'AutoPop/images/logo.png' %}" alt="" width="180" height="180">
                                {% csrf_token %} 
                                <div class="form-login">
                                    {% include 'AutoPop/b4_form.html' with form=form %}
                                </div>
                                
                                <button class="btn btn-primary" type="submit">Log in</button>
                            </form>      
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    <footer>
     <div class="bd-highlight footer">
                            AutoPop App®
                        </div>
    </footer>
      
        
        
        <link rel="stylesheet" type="text/css" href="{% static 'AutoPop/index.css' %}">
       
        
        
    </body>
</html>